<div class="container">
  <div class="row mt-5 p-5">
    <div class="col-md-6">
      <h2>List of Cities</h2>
      <hr>
      <div class="my-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="upPanel = true"
                               (closed)="upPanel = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Uttar Pradesh
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{upPanel ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-checkbox (change)="change('Noida')" [(ngModel)]="cities.noida">Noida</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.ghaziabad" (change)="change('Ghaziabad')">Ghaziabad</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.lucknow" (change)="change('Lucknow')">Lucknow</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.kanpur" (change)="change('Kanpur')">Kanpur</mat-checkbox>
            <br>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="my-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="maharashtraPanel = true"
                               (closed)="maharashtraPanel = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Maharashtra
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{maharashtraPanel ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-checkbox [(ngModel)]="cities.mumbai" (change)="change('Mumbai')">Mumbai</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.pune" (change)="change('Pune')">Pune</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.nagpur" (change)="change('Nagpur')">Nagpur</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.aurangabad" (change)="change('Aurangabad')">Aurangabad</mat-checkbox>
            <br>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="my-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="rajasthanPanel = true"
                               (closed)="rajasthanPanel = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Rajasthan
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{rajasthanPanel ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-checkbox [(ngModel)]="cities.jaipur" (change)="change('Jaipur')">Jaipur</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.udaipur" (change)="change('Udaipur')">Udaipur</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.jodhpur" (change)="change('Jodhpur')">Jodhpur</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="cities.kota" (change)="change('Kota')">Kota</mat-checkbox>
            <br>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-md-6">
      <h2>My Cities</h2>
      <hr>
      <mat-list *ngIf="selectedCities.length>0 else elseBlock">
        <div *ngFor="let city of selectedCities" class="row border-success text-center">
          <div class="col-md-6">
            <mat-list-item> {{city}} </mat-list-item>
          </div>
          <div class="col-md-6">
            <button mat-raised-button color="accent" (click)="remove(city)">X</button>
          </div>
        </div>
      </mat-list>
      <ng-template #elseBlock>
        <h3>No city selected</h3>
      </ng-template>
    </div>
  </div>
</div>
